body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.list-inline {
  margin: -5px 0 20px 0;
}

#lang-switch {
  margin: 0;
  font-size: 90%;
}

#lang-switch a.active {
  color: #333;
  text-decoration: none;
  cursor: default;
}
